@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Montserrat:wght@300&display=swap');

html {
    background: #870000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}
.carta {
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.boton-generar {
    margin-top: 3rem;
    background: #620180;
    font-family: 'Exo 2',
        sans-serif;

}

.boton-generar:hover {
    background: #22032B;

}
.titulos {
    font-family: 'Exo 2',
    sans-serif;
    font-size: 1.5rem;
}
.enunciado{
    color: #fff;
    font-family: 'Montserrat',
    sans-serif;
    font-weight: 600;
}
img{
    height: 100%;
}
.boton-generar {
    margin-top: 3rem;
    background: #620180;
    font-family: 'Exo 2',
        sans-serif;

}

.boton-generar:hover {
    background: #22032B;

}