<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Sistema de Inventario</h5>
                <p class="grey-text text-lighten-4">Sistema de organizcion de Activos Fijos
                </p>
            </div>
            <div class="col l4 offset-l2 s12">

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Copyright Desarrollado por <a href="https://minusmaya.com/">MINUS MAYA</a>
            <a class="grey-text text-lighten-4 right" href="https://boplus.tv/">Boplus TV</a>
        </div>
    </div>
</footer>