<script>
  $('.slider').slider({
    interval: 2000,
    indicators: false,
  });
</script>
<div class="slider">
  <ul class="slides">
    <li>
      <img src="src/sheet_public/img/image1.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Bienvenidos</h3>
        <h5 class="light grey-text text-lighten-3">Sistema rapido y confiable</h5>
      </div>
    </li>
    <li>
      <img src="src/sheet_public/img/image2.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>A la vanguardia de Todo</h3>
        <h5 class="light grey-text text-lighten-3">Nosotros estamos cerca de ti.</h5>
      </div>
    </li>
  </ul>
</div>